# add files to ignore (not push to github) here.

*_cache
*_files/
.vscode/
data/*
!data/results_NO_IDEX_001_forest_v1.0.0.csv
!data/results_NO_IDEX_001_mountain_v1.0.0.csv
!data/forest_index_170826.rds
!data/mountain_index_170826.rds
!data/indicators_2026.csv
!data/indicators_mountain.csv
!data/region_lookup.csv
.DS_Store
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/