# add files to ignore (not push to github) here.

*_cache
*_files/
.vscode/

renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

# do not commit LSK data
data/LSK_data_okologisk_tilstand_2026.csv