.quarto-title-block .quarto-title-banner {
  background-image: url(_ecrxiv_logo_farge_hvit_tekst.png);
  background-size: 300px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}


.panel-sidebar {
  position: sticky;
  overflow-y: scroll;
  top: 0px;
  height: 100vh;
}
