# add files to ignore (not push to github) here.
# The root for these paths will be the location of this .gitignore file (which is 'indicators/YOU_ROOT_FOLDER)')

/R/fraVFtilNI.R
/R/Funksjon.R
/R/hentKlassegrenser.R
/R/lesInnsjodatabasen.R
/R/lesMaalinger.R
/R/lesVannforekomster.R
/R/lesVannlokaliteter.R
/R/mEQR.R
/R/NO_WLAL_001_002_cache
/R/oppdaterVannforekomster.R
/R/sjekkPar.R
/R/vanntype.R
/R/WFD2ECA.R
/data/fnr.xlsx
/data/klassegrenser_LAL.xlsx
/data/knr.xlsx
/data/navnNVEl.csv
/data/navnVL.csv
/data/navnVM.csv
/data/navnVN.csv
/data/Norge.map
/data/NVE.RData
/data/V-L.csv
/data/V-R.csv
/data/VF.RData
/data/VM-aktiv.xlsx
/data/VM-param.xlsx
